### VARIABLES IN PYTHON

Variables are containers for storing data values.Python has no command for declaring a variable.A variable is created the moment you first assign a value to it.



Variables are objects that hold a value 

eg - var1 = 100   --> 100 is assigned to the variable "var1" 

##### internally what happens
var1 is assigned an address in the memory and the value of 100 is assigned to var1


Rules in Python for variable names
The names you use when creating these labels need to follow a few rules:

1. Names can not start with a number.
2. There can be no spaces in the name, use _ instead.  WRONG - VAR 1  RIGHT - VAR_1
3. Can't use any of these symbols :'",<>/?|\()!@#$%^&*~-+
4. It's considered best practice (PEP8) that names are lowercase.
5. Avoid using the characters 'l' (lowercase letter el), 'O' (uppercase letter oh), 
   or 'I' (uppercase letter eye) as single character variable names.
6. Avoid using words that have special meaning in Python like "list" and "str"

In [1]:
### let us create an object called myvar0 and assign number 5 to it
myvar0 = 5
print(myvar0)

5

In [2]:
### ONLY WITH JUPYTER THE FOLLOWING IS POSSIBLE
myvar00=100 
myvar01=200
myVar02=3000
print(myvar00)
print(myvar01)
print(myvar02)  ### case sensitive..hence error

100
200

NameError: name 'myvar02' is not defined

In [3]:
### jupyter trick - type half of the word "my" and press "TAB" key. we will see list of words that start with word "my"

In [4]:
my_var0 = 5
print(my_var0)

5

In [5]:
## jupyter trick- if we want to know what a particular function does. we can call python help in jupytre by pressing
##  shift + tab key

In [6]:
### variable addition/subtraction/multiplication/division/powers
my_var1 = 100

print(my_var0 + my_var1)
print(my_var1+my_var1)
print(my_var1-my_var0)
print(my_var1*my_var0)
print(my_var0/my_var1)
print(my_var1**my_var0)

105
200
95
500
0.05
10000000000

### Concept of Dynamic Typing in Python
type of the variable will change based on the value assigned to the variable
vrey powerful, but can be abused if the programmer does not take enough precautions

my_new_var0 = 100
type(my_new_var0)

In [8]:
my_new_var0 = 199.99
type(my_new_var0)

float

In [9]:
my_new_var0 = 'this is a string'
type(my_new_var0)

str

In [10]:
my_new_var0 = [1,2,3]
type(my_new_var0)

list

### re assignment of variables 
 concept of operating with a variable and assigning the output of operation to the same variable

In [11]:
### reassignment
my_var2 = 10
my_var2 = my_var2 + my_var2
print(my_var2)

20

In [12]:
type(my_var2)

int

In [13]:
print(my_var2*1000)

20000

In [14]:
### to know the data type of a variable use type function
print(type(my_var0))

<class 'int'>

In [15]:
my_var3 = 'this is a string'
my_var4 = "i am also a string"
print(my_var3)
print(my_var4)
print(type(my_var3))
print(type(my_var4))

this is a string
i am also a string
<class 'str'>
<class 'str'>

In [16]:
### python follows what is called as "dynamic typing" 
### based on the data assigned the type of the variable can change
my_var4 = 10000
print(my_var4)
print(type(my_var4))

10000
<class 'int'>

In [17]:
my_var4 = 999.99
print(my_var4)
print(type(my_var4))

999.99
<class 'float'>

In [18]:
my_var4 = " first string "
print(my_var4)
print(type(my_var4))

 first string
<class 'str'>

In [19]:
my_var5 = ' second string '

In [20]:
### string concatenation - two strings are added
my_var6 = my_var4 + my_var5
print(my_var6)
print(type(my_var6))

 first string  second string
<class 'str'>

In [21]:
my_var7 = 100
my_var8 = my_var6 + my_var7
print(my_var8)

### gives an error as below

TypeError: can only concatenate str (not "int") to str

In [22]:
print(my_var6,my_var7)

 first string  second string  100

In [23]:
myvar_10 = 'string 1'
myvar_11 = 'string 2'
myvar_12 = myvar_10 + myvar_11
print(myvar_12)

string 1string 2