In [1]:
#Tuple
#A tuple is a one-dimensional, immutable ordered sequence of items which can be of mixed data types.

In [2]:
#Create a tuple
first_tuple = (12,'Jack',45.6,'Test',(3,2),'StudyIT')

In [3]:
#View tuple
first_tuple

(12, 'Jack', 45.6, 'Test', (3, 2), 'StudyIT')

In [4]:
#Access the data at index value 1
first_tuple[1]

'Jack'

In [5]:
#Access the data at index value 2
first_tuple[2]

45.6

In [10]:
#Try to modify the tuple
first_tuple[1] = 'Education'

#Error: A tuple is immutable and can’t be modified

TypeError: 'tuple' object does not support item assignment

In [12]:
#Access with negative index
first_tuple[-1]

'StudyIT'

In [ ]:
#Slicing Tuples
#You can also slice a range of elements by specifying the start and end indices of the desired range.

In [18]:
#Count starts with the first index but stops before the second index
first_tuple[1:4]

('Jack', 45.6, 'Test')

In [27]:
#Even for negative indices, the count stops before the second index
first_tuple[1:-1]

('Jack', 45.6, 'Test', (3, 2))

In [28]:
           ##List
   #A list is a one-dimensional, mutable ordered sequence of items which can be of mixed data types.

In [50]:
#Create a list
first_list = [12,'Jack',45.6,'Test',(3,2),'StudyIT']

In [40]:
#View a list
first_list

[12, 'Jack', 45.6, 'Test', (3, 2), 'StudyIT']

In [41]:
#Modify a list: Add new items
first_list.append('Education')
first_list

[12, 'Jack', 45.6, 'Test', (3, 2), 'StudyIT', 'Education']

In [42]:
first_list.remove('StudyIT')
first_list

[12, 'Jack', 45.6, 'Test', (3, 2), 'Education']

In [43]:
type(first_list)

list

In [45]:
#Access and remove list data using element indices
first_list.pop(2)

'Test'

In [47]:
first_list

[12, 'Jack', (3, 2), 'Education']

In [48]:
first_list.pop(2)

(3, 2)

In [51]:
first_list

[12, 'Jack', 45.6, 'Test', (3, 2), 'StudyIT']

In [52]:
#Modify a list: Insert a new item at a certain index
first_list.insert(1,'Smith')

In [53]:
first_list

[12, 'Smith', 'Jack', 45.6, 'Test', (3, 2), 'StudyIT']

In [54]:
#Access with positive index
first_list[3]

45.6

In [55]:
#Access with negative index
first_list[-2]

(3, 2)

In [56]:
#Slicing Lists
#Just like tuples, you can access elements in a list through indices.
#Count starts with the first index but stops before the second index

first_list[1:4]

['Smith', 'Jack', 45.6]

In [57]:
#Even for negative indices, the count stops before the second index
first_list[1:-1]

['Smith', 'Jack', 45.6, 'Test', (3, 2)]

In [58]:
##Dictionary (dict)
#Dictionaries store a mapping between a set of keys and a set of values.

In [62]:
#Create a dictionary
first_dict = {'StudyIT': 'studyiteducation@gmail.com', 'abc': 'abc@gmail.com', 'id':[23,51]}

In [63]:
#View entire dictionary
first_dict

{'StudyIT': 'studyiteducation@gmail.com',
 'abc': 'abc@gmail.com',
 'id': [23, 51]}

In [64]:
#View only keys
first_dict.keys()

dict_keys(['StudyIT', 'abc', 'id'])

In [65]:
#View only values
first_dict.values()

dict_values(['studyiteducation@gmail.com', 'abc@gmail.com', [23, 51]])

In [66]:
#Access and Modify dict Elements
#Access with key
first_dict['StudyIT']

'studyiteducation@gmail.com'

In [68]:
#Modify dictionary: update
first_dict.update({'id':[25,50]})

In [69]:
first_dict

{'StudyIT': 'studyiteducation@gmail.com',
 'abc': 'abc@gmail.com',
 'id': [25, 50]}

In [71]:
#Modify dictionary: delete
del first_dict['id']

In [72]:
first_dict

{'StudyIT': 'studyiteducation@gmail.com', 'abc': 'abc@gmail.com'}

In [ ]:
   #Set
#A set is an unordered collection of unique elements.

In [ ]:
#Create a set